.grid-container {
  display: grid;
  grid-template-areas:
    "navbar navbar navbar"
    "categorias main main"
    "footer footer footer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 2fr auto;
  gap: 20px;
  padding: 20px;
}

/* Áreas específicas */
.navbar {
  grid-area: navbar;
  background-color: rgb(0, 128, 0) !important;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Reset de márgenes y rellenos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilo para la barra de navegación */
.navbar {
  background-color: rgb(0, 128, 0) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.title {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.navbar h1 {
  margin: 0;
}

.grid-item:first-child {
  grid-area: categorias;
}

.grid-item:last-child {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: rgb(0, 128, 0);
  color: white;
  padding: 10px;
  text-align: center;
}

/* Estilo para las categorías */
.categorias {
  list-style: none;
  padding: 0;
}

.categorias li {
  padding: 12px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 4px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.categorias li:hover {
  background-color: rgb(0, 128, 0) !important;
  color: white;
}

/* Productos en el contenido principal */
.main-content {
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  display: grid;
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-card h4 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.product-card p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 15px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.product-card button:hover {
  background-color: rgb(0, 128, 0) !important;
  color: white;
}
