/* Reset de márgenes y rellenos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilo para la barra de navegación */
.navbar {
  background-color: rgb(0, 128, 0) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.title {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.navbar h1 {
  margin: 0;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: auto 70% auto;
  gap: 20px;
  justify-content: center;
  align-items: start;
  padding: 20px;
}

.grid-item {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
}

.categorias {
  list-style-type: none;
  padding: 0;
}

.categorias li {
  padding: 12px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 4px;
}

.categorias li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.categorias li:hover {
  background-color: rgb(0, 128, 0) !important; /* Efecto al pasar el ratón */
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.product-card {
  flex: 1 1 (100%);
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-card h4 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.product-card p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 15px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.product-card button:hover {
  background-color: rgb(0, 128, 0) !important;
}
